body {
    background-image: url(fundo.jpg);
    background-blend-mode: multiply;
  background-repeat: no-repeat;
}

#jogo{
    width: 303px; 
    height: 305px;
    border: solid 5px;
    color:#0602ff;
    border-radius: 5px;
}

.linha{
    height: 100px;
    border-bottom: solid 2px;
    color:#f9f9f9;
    
}

.casa{
    width: 100px;
    height: 100%;
    border-right: solid rgb(255, 255, 255) 1px;
    float: left;
    background-color: rgb(0, 0, 0);
    
}
 div{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
} 
.tudo {
   margin-top: 255px;
   display: flex;
   justify-content: center;
}

.play1 {
  margin-right: 500px;
  margin-top: -200px;
}

.play2 {
    margin-left: 480px;
    margin-top: -130px;
}

p {
    margin-top: -10px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
}

h1 {
    margin-top: 20px;
    color: rgb(255, 255, 255);
}

.limpar {
    margin-top: 100px;
    display: fixed;
    border-radius: 8px;
    border: solid rgb(0, 42, 255) 3px;
    width: 56.9px;
}

.playerWin {
    background: rgb(138,38,170);
background: linear-gradient(153deg, rgba(138,38,170,1) 5%, rgba(18,126,154,1) 57%, rgba(104,44,200,1) 93%);
    width: fit-content;
    margin-top: 12px;
    border-radius: 8px;
    border: solid 3px;
    display: none;
}

.titulo {
    margin-top: 50px;
    margin-bottom: -150px;
    color: rgb(167, 11, 191);
    font-size: 40px;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Silkscreen', cursive;
    -webkit-text-stroke: 0.1px rgb(255, 255, 255);
    letter-spacing: 2px;
    animation: fliptitle 4s;
}

@keyframes fliptitle {
    from {
      transform: rotateX(90deg);
    }
    to {
      transform: rotateX(0deg);
    }
  }

.neon {
    color: rgb(4, 0, 255);
    -webkit-text-stroke: 2px rgb(251, 0, 247);
}

@media (max-width: 590px) {
    .play1 {
      display: none;
    }
  
    .play2{
        display: none;
    }
  
    .limpar {
      margin-top: 10px;
    }
  }

  @media (max-width: 375px) {
    .titulo {
    font-size: 25px;
    margin-top: -40px;
    }
  
    #jogo {
      margin-top: -50px;
    }
  
  }

  @media (max-width: 414px) {
    .titulo {
        font-size: 25px;
        margin-top: -30px;
        }
  
    #jogo {
      margin-top: -50px;
    }
  
  }

  @media (max-height: 844px) {
    .titulo {
        font-size: 30px;
        margin-top: 20px;
        }
  
    #jogo {
      margin-top: 20px;
    }

  }

  @media (max-height: 896px) {
    .titulo {
        font-size: 30px;
        margin-top: 20px;
        }
  
    #jogo {
      margin-top: -20px;
    }
  
  }

  @media (max-height: 915px) {
    .titulo {
        font-size: 30px;
        margin-top: -10px;
        }
  
    #jogo {
      margin-top: -20px;
    }
  
  }
